name: Deploy Firebase Cloud Functions

on:
  push:
    branches:
      - main  # or master if your repo uses master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Deploy to Firebase
      - run: firebase deploy --only functions --token ${{ secrets.FIREBASE_TOKEN }}
